Automatic body decompressions should work with mixed casing content-encoding

If a server responds with:

```clojure
{:headers {"content-encoding" "GZip"
                  "other-headers"        ""}}
```

Hato does not do automatic decompression of the body. Note the casing of `GZip` as it appears hato is expecting it be lower-cased `gzip` instead. According to RFC2616 section 3.5 specifies: "All content-coding values are case-insensitive." I just ran into this case with Hato when exploring a new API that returned `GZip` instead.

Seems like a simple `str/lower-case` may help here?

Thanks for this! Released with 0.8.1